@model IEnumerable<Order>
@{
    ViewData["Title"] = "ViewOrder";
}
<h1 class="text-center">Orders of "@ViewBag.usname"</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Member Id</th>
            <th>Order Date</th>
            <th>Require Date</th>
            <th>Shipped Date</th>
            <th>Freight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order item in Model)
        {
            <tr>
                <td>@item.MemberId</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.RequireDate.ToShortDateString()</td>
                <td>@item.ShippedDate.ToShortDateString()</td>
                <td>@item.Freight</td>
            </tr>
        }
    </tbody>
</table>